<h1> create rooms</h1>

<form action="/rooms/create" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input required maxlength="250" type="text" class="form-control" name="name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input required type="text" class="form-control" name="description">
  </div>
  <div class="mb-3">
    <label for="imageURL" class="form-label">ImageURL</label>
    <input type="text" class="form-control" name="imageURL">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>