<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <nav id="nav" class="nav nav-pills">

    <a class="nav-link align-middle" href="/">Home</a>
    <a class="nav-link align-middle" href="/rooms/rooms-list">Rooms</a>
    <a class="nav-link align-middle" href="/reviews/reviews-list">Reviews</a>
   
    {{#if inSession}}
      <a class="nav-link align-middle" href="/reviews/own-reviews-list">My Reviews</a>
      <form action="/rooms/rooms-create" method="get">
        <button type="submit" class="btn btn-primary">Add a Room</button>
      </form>
      <a class="nav-link align-right" href="/auth/logout">Log out</a>
    {{/if}}

    {{#if anonymous}}
      <a  class="nav-link align-right" href="/auth/signup">Sing up</a>
      <a class="nav-link align-right" href="/auth/login">Log in</a>
    {{/if}}

  </nav>

  <body>

    {{{body}}}

    <script src="/js/script.js"></script>
    <script src="/js/nav-detail.js"></script>
  </body>

</html>