<h2>My Reviews</h2>

{{#each reviews}}
    <p>{{this.comment}}</p>
        <a class="btn btn-secondary" href="/reviews/{{this._id}}/reviews-edit">Edit Review</a>
          
        <form action="/reviews/{{this._id}}/reviews-delete" method="post">
            <button type="submit" class="btn btn-danger">Delete Review</button>
        </form>
{{/each}}