<h2>Reviews</h2>

{{#each rooms}}
    <table class="table table-striped">
    <thead>
        <th scope="col" class = "col-5">{{this.name}} </th>
    </thead>  
        {{#each this.reviews}}
        <tr scope="row"></tr>
            <td>{{this.user.username}}</td>
            <td>{{this.comment}}</td>
            </tr>
        {{/each}}
    </table>
{{/each}}