<h1>Create review</h1>

<form action="/rooms/{{this._id}}/reviews-create" method="post">
  <div class="mb-3">
    <label for="comment" class="form-label">Comment</label>
    <input required type="text" class="form-control" name="comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
